.modal-bg{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}
.modal-box{
  background:#fff;
  width:600px;
  max-height:80vh;
  overflow:auto;
  padding:20px;
  border-radius:8px;
  position:relative;
}
.cerrar{
  position:absolute;
  right:10px;
  top:8px;
  cursor:pointer;
  font-weight:bold;
}